* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: auto;
  max-width: 40rem;
  padding: 1em;
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

section {
  width: 100%;
}

.index {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  height: 100%;
}

.index a {
  color: #bd93f9;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 5%;
}

.intro p {
  background-color: #50fa7b;
  border-radius: 8px;
  padding: 0.75em;
  color: #282a36;
  box-shadow: 0 8px 10px #0f1016;
}

.intro p:last-child {
  background-color: transparent;
  padding: 0;
}

.preview_project {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.preview_project a {
  color: #bd93f9;
}

.project {
  border-radius: 8px;
  padding: 0.75em;
  background-color: #8be9fd;
  box-shadow: 0 8px 10px #0f1016;
}

.project:hover {
  background-color: yellow;
}

.project a {
  color: #282a36;
}

.tools {
  display: flex;
  align-items: end;
  gap: 1.5em;
  width: 100%;
}

.tools img {
  width: 20px;
  height: auto;
  padding: 5px;
  background-color: #282a36;
  border-radius: 2px;
}

.project_page {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
}

.project_page span {
  width: 100%;
}

.project_info,
.project_links {
  width: 100%;
}

.project_links {
  display: flex;
  gap: 1em;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.skill_tools {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ff79c6;
  box-shadow: 0 8px 10px #0f1016;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}

.skill_tools img {
  width: 30px;
  height: auto;
  box-shadow: 0 3px 5px 2.5px rgba(0, 0, 0, 0.253);
  padding: 5px;
  background-color: #282a36;
  border-radius: 2px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

.contact nav {
  font-size: 36px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
}

.contact nav span:last-child {
  font-size: 36px;
}
