* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
  background: rgb(19, 19, 19);
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

div {
  transition: ease;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  position: relative;
  height: 85vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-template-rows: repeat(auto-fit, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(44, 44, 44);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 35px;
  cursor: pointer;
  font-size: 3rem;
}

.projects,
.about,
.labs {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  border: 2px solid white;
  height: 100%;
  width: 100%;
}

.projects h2 {
  padding: 24px;
  background-color: rgb(3, 90, 24);
  width: 60%;
  border-top-left-radius: 24px;
  border-top-right-radius: 8px;
}

.project {
  padding: 12px;
  width: 60%;
  background-color: rgb(5, 136, 38);
  display: flex;
  padding: 24px;
}

.project:last-child {
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 8px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
  width: 90%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 10%;
  height: 100%;
}

.right a {
  text-decoration: none;
}

.project .tools {
  display: flex;
  align-items: center;
  gap: 1.5em;
  width: 100%;
}

.project .tools img {
  width: 5%;
  height: auto;
}

@media screen and (min-width: 650px) {
  .card:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .card:nth-child(2) {
    grid-column: span 1;
  }

  .card:nth-child(3) {
    grid-column: span 1;
  }
}

@media screen and (min-width:1311px) {
  .grid {
    grid-template-columns: repeat(3, 400px);
  }
}