.contact-master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  height: 100vh;
}

.contact-master .contact {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  width: 60%;
  gap: 2em;
}

.contact .title {
  text-align: right;
  width: 60%;
}

.contact-master .contact-text {
  width: 50%;
}

.contact-master .contact-imgs {
  display: flex;
  justify-content: right;
  gap: 2em;
  align-items: center;
  width: 50%;
}

.contact-master .contact img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.contact-master .contact img:hover {
  transform: scale(1.1);
}

.contact-master .contact span {
  text-decoration: underline;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 1364px) {
  .contact > .title {
    width: 90%;
  }

  .contact {
    width: 90%;
  }
}

@media (max-width: 1020px) {
  .contact-master > .contact > .title {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .contact-master .contact {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .contact-master .contact-imgs {
    justify-content: center;
  }
}

@media screen and (max-width: 715px) {
  .contact-master .contact-text {
    text-align: center;
    width: 80%;
  }
}

@media screen and (max-width: 524px) {
  .contact-master > .contact span {
    font-size: 1.5rem;
  }
}
