@import "/src/styles/base";
@import "/src/styles/colors";

.headerMaster {
  background-color: rgba(2, 90, 89, 0.63);
  padding: 30px;
  position: fixed;
  width: $baseWidth;
  z-index: 2;
  top: 0;
}

.headerMaster h1 {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 829px) {
  .headerMaster {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
