@import "/src/styles/base/base";
@import "/src/styles/base/colors";

* {
  padding: 0;
  margin: 0;
}

.normieApp {
  animation: fadeIn 1.25s;
  display: flex;
  flex-direction: column;
  background: $normPrimary;
  color: $normSecondary;
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10%);
    opacity: 30%;
  }
  to {
    transform: translateY(0%);
    opacity: 100;
  }
}
