@import "/src/styles/base/base";
@import "/src/styles/base/colors";

* {
  padding: 0;
  margin: 0;
}

.normieApp {
  justify-content: center;
  background: $normPrimary;
  color: $normSecondary;
  background-size: 400% 400%;
  overflow-y: hidden;
}
