.project-master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
    min-height: 100%;
    color: white;
    text-align: left;
  }
  
  .title {
    text-align: right;
    width: 60%;
  }
  
  .project-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
  }
  
  .project {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: left;
    width: 40%;
    height: auto;
    padding: 20px;
    transition-duration: 0.25s;
    background-color: rgba(3, 181, 187, 0.299);
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(rgb(114, 1, 114), #c50042 67%, #ff0090 100%) 1;
  }
  
  .project:hover {
    transition-duration: 0.25s;
    transform: perspective(2000px) rotateY(-30deg) scale(1.1);
    filter: drop-shadow(0 -2mm 1mm rgb(3, 181, 187));
    color: white;
  }
  
  .project-background {
    position: absolute;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: 0.25s;
  }
  
  .project-background img {
    height: 100%;
    width: 100%;
  }
  
  .description {
    font-size: 1.5rem;
  }
  
  .links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.5rem;
  }
  
  .links a,
  .link a:visited {
    color: black;
  }
  
  .link a:active,
  a:hover {
    color: white;
    transform: scale(1.1);
  }
  
  .tools {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .tools img {
    max-height: 40px;
    width: auto;
  }
  
  .preview-img {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .preview-img img {
    height: 400px;
    width: auto;
    position: relative;
    left: -5000px;
    transition: 1s;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 1200px) {
    .description {
      font-size: 1rem;
    }
  
    .preview-img img {
      height: 300px;
    }
  }
  
  @media screen and (max-width: 960px) {
    .preview-img img {
      height: 250px;
    }
  }
  
  @media screen and (max-width: 845px) {
    .title {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .preview-img {
      display: none;
    }
  
    .project:hover {
      transition-duration: 0.25s;
      transform: perspective(2000px) rotateX(-10deg) scale(1.1);
      filter: drop-shadow(0 -2mm 1mm rgb(3, 181, 187));
      color: white;
    }
  }
  
  @media screen and (max-width: 715px) {
    .project {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 524px) {
    .project-container {
      width: 80%;
    }
  }