@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.terminal {
  position: relative;
  height: $baseTermHeight;
  width: $baseTermWidth;
  color: white;
  background-color: $termPrimary;
  overflow-y: scroll;
}

.terminal input {
  color: white
}

@media screen and  (max-width: 428px ) {
  .terminal {
    height: 90vh;
    width: 90vw;
  }
}

