@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.terminal {
  height: $baseTermHeight;
  width: $baseTermWidth;
  color: $secondary;
  background-color: $termPrimary;
  padding: $basePadding;
}
