.about {
  max-width: 100%;
}

.intro {
  margin-bottom: 3%;
}

.intro span {
  color: cyan;
}

.about .contact span {
  display: flex;
  align-items: center;
  gap: 1em;
  color: cyan;
  font-weight: bold;
}

.about .contact {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.about .contact img {
  height: 40px;
  width: auto;
}

.contact>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .contact span {
  color: #dbcc89;
}

.contact div>p {
  color: cyan;
}

@media screen and (max-width: 1000px) {
  .about .contact div>p {
    display: none
  }

  ;
}


@media screen and (max-width: 510px) {
  .about .contact div {
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: fit-content;
  }
}