@import "/src/styles/base";
@import "/src/styles/colors";

.commandLine {
  padding-top: 0px;
  padding-bottom: 0px;
}

.commandLine form {
  display: flex;
  align-items: center;
}

.commandLine input {
  background-color: #070b1400;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #dbcc89;
}

.commandLine form {
  display: flex;
  gap: 1em;
  width: 100%;
}
