.command-line {
  padding-top: 0px;
  padding-bottom: 0px;
}

.command-line form {
  display: flex;
  align-items: center;
}

.command-line input {
  background-color: #070b14;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #dbcc89;
}

.command-line form {
  display: flex;
  gap: 1em;
  width: 100%;
}
