@import "/src/styles/base";
@import "/src/styles/colors";


.command-list {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.type-commands {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 5%;
}

.type-commands span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75%;
}
.keyboard-shortcuts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 840px) {
  .type-commands {
    width: 100%;
  }

  .keyboard-shortcuts {
    width: 100%;
  }
}

@media screen and (max-width: 616px) {
  .type-commands {
    gap: 1em;
  }

  .type-commands span {
    gap: 0.5em;
  }

  .type-commands .command {
    color: cyan;
  }
}
