@import "/src/styles/base";
@import "/src/styles/colors";


.home {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 50vh;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.help {
  margin-top: 5%;
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    gap: 2em;
  }
}

@media screen and (max-width: 938px) {
  .hero {
    align-items: center;
  }
}
