* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

@font-face {
  font-family: "noto-sans";
  src: url("/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}

@import "/src/styles/base";
@import "/src/styles/colors";

.terminal {
  display: flex;
  flex-direction: column;
  background-color: $termPrimary;
  color: $secondary;
  height: $baseTermHeight;
  width: $baseTermWidth;
  font-size: 1.5rem;
  border: $baseTermBorder;
  margin: 2%;
  overflow-y: scroll;
  padding: 20px;
}

@media screen and (max-width: 938px) {
  .renderedInput {
    padding: 0;
  }
}
