* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

@font-face {
  font-family: "noto-sans";
  src: url("/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}

.terminal {
  display: flex;
  flex-direction: column;
  background-color: #070b14;
  color: #dbcc89;
  height: 70vh;
  width: 65vw;
  font-size: 1.5rem;
  border: 3px solid;

  margin: 2%;
  overflow-y: scroll;
}

.terminal section {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
