.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
}

.user-info span {
  display: flex;
  gap: 1em;
}

.user-info p {
  color: cyan;
}

@media screen and (max-width: 938px) {
  .user-info-container {
    flex-direction: row;
    justify-content: left;
    align-content: left;
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .user-info span {
    gap: 0.5em;
  }
}
