* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

@font-face {
  font-family: "noto-sans";
  src: url("/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  gap: 2em;
  background-color: #070b14;
  color: #dbcc89;
  border: 2px solid;
  height: 100vh;
  font-size: 2rem;
}

.app > .title {
  text-align: left;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.app span {
  cursor: pointer;
}

.app a:link {
  text-decoration: none;
  color: #dbcc89;
}
